[color]
	ui = true
[core]
	editor = vim
	excludesfile = {{ ansible_env.HOME }}/.gitignore
[credential]
	helper = osxkeychain
[github]
	user = {{ github_username }}
{% if github_token %}
	token = {{ github_token }}
{% endif %}
[merge]
	tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
[tag]
	sort = v:refname
[user]
	name = {{ git_name }}
	email = {{ git_email }}
