[user]
	name = {{ git_name }}
	email = {{ git_email }}
[core]
	editor = vim
	excludesfile = {{ ansible_env.HOME }}/.gitignore
[color]
	ui = true
[github]
	user = {{ github_username }}
{% if github_token %}
	token = {{ github_token }}
{% endif %}
[merge]
	tool = vimdiff
[push]
	default = simple
[pull]
	rebase = true
