- name: be sure there's a bin folder into the home folder
  command: mkdir ~/bin creates=~/bin

- name: be sure delete-merged script is updated
  get_url: url=https://gist.github.com/renanivo/4990090/raw/7b3d5ab9e396a0ab7b23f288da79eb41798c67ef/delete-merged.sh
           dest=~/bin/delete-merged

- name: be sure delete-merged script is executable
  file: path=~/bin/delete-merged mode=0540

- name: be sure homebrew packages of all tools are installed
  homebrew: name={{ item }} state=present
  with_items: brew_packages

- name: be sure homebrew cask packages of all tools are installed
  homebrew_cask: name={{ item }} state=present
  with_items: brew_cask_packages

- name: be sure all browsers are installed
  homebrew_cask: name={{ item }} state=present
  with_items: browsers
